/* @group import */

@import "lesshat.less";

/* @end */

/* @group global var */

@blanc: #fff;
@noir: #000;
@grisIMA: #f3f3f3;
@vertIMA: #c1c602;
@vertIMA-dark: darken(@vertIMA, 10%);
@bleuIMA: #0f589f;
@bleuIMA-dark: darken(@bleuIMA, 10%);
@roseIMA: #ab0464;
@roseIMA-dark: darken(@roseIMA, 10%);
@violetIMA: #801a7a;
@violetIMA-dark: darken(@violetIMA, 10%);
@bleucielIMA: #8eb4c7;
@bleucielIMA-dark: darken(@bleucielIMA, 10%);
@orangeIMA: #dd850c;
@orangeIMA-dark: darken(@orangeIMA, 10%);

/* @end */



/* @group Boilerplate */

html,
button,
input,
select,
textarea {
    color: rgb(35,35,35);
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

/* @end */

/* @group Mes styles */

/* @group General */

/* selection */
::-moz-selection { 
	background: @noir;  
	color: @blanc;
	text-shadow: none; 
}
::selection { 
	background: @noir;  
	color: @blanc; 
	text-shadow: none; 
}

/* @end */

/* @group fonts */

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/OpenSans-LightItalic-webfont.eot');
    src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
    src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'IMA-amiral';
	src:url('../fonts/IMA-amiral.eot?eefyrf');
	src:url('../fonts/IMA-amiral.eot?#iefixeefyrf') format('embedded-opentype'),
		url('../fonts/IMA-amiral.woff?eefyrf') format('woff'),
		url('../fonts/IMA-amiral.ttf?eefyrf') format('truetype'),
		url('../fonts/IMA-amiral.svg?eefyrf#IMA-amiral') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'IMA-amiral';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-ornament:before {
	content: "\e600";
}

.IMA-amiral(@size){
	font-family: 'IMA-amiral';
	font-size: @size;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-bold(@size){
	font-family: 'open_sansbold', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-bold-italic(@size){
	font-family: 'open_sansbold_italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-extrabold(@size){
	font-family: 'open_sansextrabold', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-extrabold-italic(@size){
	font-family: 'open_sansextrabold_italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-italic(@size){
	font-family: 'open_sansitalic', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-light(@size){
	font-family: 'open_sanslight', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-light-italic(@size){
	font-family: 'open_sanslight_italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans(@size){
	font-family: 'open_sansregular', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-semibold(@size){
	font-family: 'open_sanssemibold', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.opensans-semibold-italic(@size){
	font-family: 'open_sanssemibold_italic', sans-serif;
	font-weight: normal;
	font-size: @size;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* @end */

html, body{
	
}

body{
	background-color: @grisIMA;
	.opensans(1em);
}

.container{
	display: block;
	width: 1250px;
	position: relative;
	margin: 0 auto;
}

#content{
	display: block;
	width: 57%;
	height: auto;
	float: left;
	padding: 0;
	margin: 0 0 80px 0;
}

.bloc-full{
	display: block;
	position: relative;
	width: 620px;
	height: auto;
	margin: 0 auto;
	padding: 0;
	.bloc-content{
		padding: 70px 40px 40px 40px;
	}
}

.fond-bloc{
	display: block;
	width: 100%;
	height: 100%;
	background-color: @blanc;
	position: absolute;
	top: 0;
	left: 0;
	.border-radius(17px);
	.box-shadow(~"3px 4px 21px rgba(0,0,0,.03)");
}

.bloc-content{
	display: block;
	position: relative;
	.box-sizing(border-box);
}

h1{
	.opensans-bold(1.375em);
	margin: 0;
	padding: 0;
	color: @blanc;
}

h2{
	.opensans-bold(1.250em);
	color: @roseIMA;
}

p{
	.opensans(0.813em);
	line-height: 1.4em;
	strong{
		.opensans-bold(1em);
	}
}

/* @group Header */

header{
	display: block;
	width: 100%;
	height: 500px;
	nav{
		width: 100%;
		height: auto;
		position: relative;
	}
	.circle {
		position: relative;
		margin: -110px auto 0 auto;
		padding: 0;
		width: 430px;
		height: 430px;
		.transition(all 0.5s ease);
		#circle-imatech{
			display: block;
			width: 148px;
			height: 148px;
			position: absolute;
			top: 50%;
			margin-top: -74px;
			left: 50%;
			margin-left: -74px;
			.border-radius(50%);
			background: @blanc url('../layoutImg/logo-imatech.png') no-repeat center center;
			.box-shadow(~"0 5px 21px rgba(0,0,0,.1)");
		}
		#circle-dashed{
			display: block;
			width: 312px;
			height: 312px;
			position: absolute;
			top: 50%;
			margin-top: -156px;
			left: 50%;
			margin-left: -156px;
			.border-radius(50%);
			border: 1px dotted #333;
			.box-sizing(border-box);
		}
		ul{
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			li{
				position: absolute;
				width: 98px;
				height: 98px;
				list-style: none;
				text-align: center;
				margin: 0;
				padding: 0;
				&.circle-vehicules{
					top: 85px;
					left: 295px;
					a{
						background-color: @vertIMA;
						border-color: @vertIMA-dark;
					}
				}
				&.circle-formation{
					top: 216px;
					left: 326px;
					a{
						background-color: @bleuIMA;
						border-color: @bleuIMA-dark;
					}
				}
				&.circle-offre-conseil{
					top: 321px;
					left: 238px;
					a{
						background-color: @roseIMA;
						border-color: @roseIMA-dark;
					}
				}
				&.circle-informatique{
					top: 321px;
					left: 90px;
					a{
						background-color: @violetIMA;
						border-color: @violetIMA-dark;
					}
				}
				&.circle-service-client{
					top: 216px;
					left: 6px;
					a{
						background-color: @bleucielIMA;
						border-color: @bleucielIMA-dark;
					}
				}
				&.circle-juridique{
					top: 85px;
					left: 37px;
					a{
						background-color: @orangeIMA;
						border-color: @orangeIMA-dark;
					}
				}
				a{
					.border-radius(50%);
					display: block;
					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;
					.opensans(0.65em);
					color: @blanc;
					text-transform: uppercase;
					text-decoration: none;
					.box-sizing(border-box);
					border-style: solid;
					border-width: 10px;
					line-height: 78px;
					.txt-circle{
						display: inline-block;
						vertical-align: middle;
						line-height: 1.1em;
					}
				}
			}
		}
	}
}

/* @end */

/* @group Footer */

footer{
	display: block;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	.opensans(0.688em);
	padding: 15px 0;
	background-color: @blanc;
	.opacity(0.8);
	.bandeau-footer{
		display: block;
		width: 100%;
		height: 2px;
		background: url('../layoutImg/footer/bandeau-couleurs.png') repeat-x left top;
		position: absolute;
		top: -2px;
		left: 0;
	}
	ul#footer-elements{
		display: block;
		width: auto;
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		>li{
			display: inline-block;
			vertical-align: top;
			position: relative;
			margin: 0;
			padding: 0 18px 0 10px;
			&:after{
				.IMA-amiral(11px);
				content: "\e600";
				position: absolute;
				top: 5px;
				right: 0;
			}
			&.last{
				padding: 0 10px;
				&:after{
					display: none;
				}
			}
			&.padding-top-footer{
				padding-top: 2px;
			}
		}
	}
	#nav-footer{
		ul{
			display: block;
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				vertical-align: top;
				margin: 0 8px;
				padding: 0;
				a{
					color: @violetIMA;
					text-decoration: none;
					.box-shadow(inset 0 -1px 0 @violetIMA);
				}
			}
		}
	}
	.tel-footer{
		color: @roseIMA;
		.opensans-semibold(1.364em);
		text-decoration: none;
	}
	
	ul.social-footer{
		display: inline-block;
		vertical-align: top;
		margin: 0 0 0 5px;
		padding: 0;
		list-style: none;
		li{
			display: inline-block;
			vertical-align: top;
			margin: 0 1px;
			padding: 0;
			a{
				text-decoration: none;
				color: @blanc;
				display: block;
				width: 18px;
				height: 18px;
				position: relative;
				margin: 0;
				padding: 0;
				.fond-social{
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					.border-radius(3px);
				}
				.logo-footer{
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					line-height: 18px;
					text-align: center;
				}
			}
			&.facebook{
				a{
					.fond-social{
						background-color: #293eab;
						.transform(perspective(50px) rotateY(20deg));
					}
					.icon-facebook{
						.transform(translateY(1px));
					}
				}
			}
			&.twitter{
				a{
					.transform(translateY(1px));
					.fond-social{
						background-color: #54a8d4;
						.transform(rotate(-2deg));
					}
					.icon-twitter{
						.transform(translateY(1px));
					}
				}
			}
			&.linkedin{
				a{
					.fond-social{
						background-color: #266ba6;
						.transform(perspective(30px) rotateX(-10deg) rotateY(5deg));
					}
					.icon-linkedin{
						.transform(translateX(1px));
						font-size: 0.9em;
					}
				}
			}
			&.viadeo{
				a{
					.fond-social{
						background-color: #1e2124;
					}
					.icon-viadeo{
						background: url('../layoutImg/footer/logo-viadeo.png') no-repeat center 40%;
					}
				}
			}
		}
	}
}

/* @end */

/* @group Ribbon */

.ribbon{
	display: block;
	width: auto;
	height: auto;
	position: absolute;
	top: -17px;
	left: -25px;
	.transform(rotate(-4deg));
	z-index: 2;
	.fond-ribbon{
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		.border-radius(3px);
		.transform(skew(-8deg,0deg) rotate(0deg));
	}
	.ribbon-content{
		position: relative;
		display: block;
		.box-sizing(border-box);
		padding: 5px 30px 5px 13px;
		color: @blanc;
	}
	&.ribbon-bleu{
		.fond-ribbon{
			background-color: @bleuIMA;
		}
	}
}

.ribbon-join{
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 5px;
	left: -18px;
	.rotate(25deg);
	&.ribbon-bleu{
		background-color: @bleuIMA-dark;
	}
}

/* @end */

/* @group Breadcrumb */

ul.breadcrumb{
	list-style: none;
	margin: 0;
	padding: 0;
	&>li+li:before{
		padding: 0 5px;
		content: "›";
		.box-sizing(border-box);
	}
	li{
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		a{
			.opensans(0.875em);
			color: @blanc;
			//.box-shadow(inset 0 -1px 0 @blanc);
		}
		h1{
			display: inline;
		}
	}
}

/* @end */

/* @group Bloc visu */

#bloc-visu{
	display: block;
	width: 43%;
	height: auto;
	float: right;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
}

#fond-bloc-visu{
	display: block;
	width: 100%;
	height: 100%;
	background: url('../layoutImg/visuels/visuel-1.png') no-repeat left top;
	background-size: auto 100%;
	position: fixed;
}

/* @end */

/* @end */
  

/* @group Non semantic Boilerplate */

/* remplacement image */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* masquage de texte, alternative (buggé?) */
.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* masqué */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* masqué juste sur l'écran (pas sur RSS ou moteurs) */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

/* @end */


/* ==|== media queries ======================================================
   ========================================================================== */

/* @group Responsive horizontal */

@media (max-width: 1150px) {

}

@media (max-width: 979px) {

}

@media (max-width: 767px) {

}

@media (max-width: 480px) {

}

/* @end */

/* @group Responsive vertical */

/* @end */

/* retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    
}



/* ==|== print styles =======================================================
   ========================================================================== */
 
@media print {
  * {} /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

